# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Preprocessor output
*.i

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python compiled files
*.pyc
**/__pycache__/**



# Emulator stuff (Visual Studio Files)
**/emulator/**/Debug*/**
**/emulator/**/Release*/**
**/emulator/.vs/**
**/emulator/*.dgml
**/emulator/emulator/Output*.txt
**/emulator/emul_dll/int_tests*/**

.vs/

