# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Git\di_131-6TF00_Namur8_et200sp\131-6TF00_Namur8\3_func_i\emulator\emul_client_py codebase based on best match to current usage at 13.01.2023
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

